ul li::before{
    content: "*";
    color: red;
}
 LI:nth-last-child(2){
    color: green;

}
/* two column layout using flex box*/
.two{
    display: flex;
    background-color: yellowgreen;
}
.column{
    flex: 1;
    padding: 10px;
    border: 2px solid black;
}


.Three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightblue;
}
.col{
    padding: 10px;
    border: 2px solid black;

}
.rev{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}
.c1{
    padding: 10px;
    background-color: lightskyblue;

}
.occupy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap :10px;
}

.item:nth-child(1) {
    border: 3px solid rgb(118, 59, 111);
    grid-column: 1/3;
    background-color:rgb(219, 162, 213) ;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}